#include "IPtracer.h"
#include <os2.h>

ICON ID_RESOURCE "IPtracer.Ico"

MENU ID_RESOURCE
BEGIN
  PRESPARAMS PP_FONTNAMESIZE, FontName
  SUBMENU "~File", IDSM_FILE
  BEGIN
    MENUITEM "~Start", IDM_START
    MENUITEM "~Break", IDM_BREAK, 0, MIA_DISABLED
    MENUITEM SEPARATOR
    MENUITEM "~Options", IDM_OPTIONS
    MENUITEM SEPARATOR
    MENUITEM "~Exit", IDM_EXIT
  END
  SUBMENU "~Help", IDSM_HELP, MIS_BUTTONSEPARATOR
  BEGIN
    MENUITEM "~About", IDM_ABOUT
  END
END

ACCELTABLE  ID_RESOURCE
BEGIN
  "s", PB_START, AF_ALT
  "S", PB_START, AF_ALT
  "b", PB_BREAK, AF_ALT
  "B", PB_BREAK, AF_ALT
  "e", PB_EXIT,  AF_ALT
  "E", PB_EXIT,  AF_ALT
END

DLGTEMPLATE ID_ABOUT
BEGIN
  DIALOG "", ID_ABOUT, 15, 55, 200, 70, FS_DLGBORDER | WS_VISIBLE
  BEGIN
    CONTROL "~Ok", DID_OK, 5, 7, 40, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE
    CONTROL Title, 2, 10, 50, 180, 14, WC_STATIC,
            SS_TEXT | DT_CENTER | DT_TOP | WS_VISIBLE
    PRESPARAMS PP_FONTNAMESIZE "14.Helv"
    CONTROL "Программа трассировки пути в сетях TCP/IP", 3, 5, 35, 190, 10,
            WC_STATIC, SS_TEXT | DT_CENTER | DT_TOP | WS_VISIBLE
    PRESPARAMS PP_FONTNAMESIZE "10.Helv"
    CONTROL "Олег Жуков, 2003", 4, 70, 20, 120, 10, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE
    PRESPARAMS PP_FONTNAMESIZE "10.Helvetica"
    CONTROL "zhk@ibs-ltd.kiev.ua", 5, 70, 5, 120, 10, WC_STATIC,
            SS_TEXT | DT_LEFT | DT_TOP | WS_VISIBLE
    PRESPARAMS PP_FONTNAMESIZE "10.Helv"
  END
END

DLGTEMPLATE ID_OPTIONS
BEGIN
  DIALOG  "Set options", ID_OPTIONS, 25, 55, 190, 75,
          FS_DLGBORDER | WS_VISIBLE, FCF_SYSMENU | FCF_TITLEBAR
  PRESPARAMS PP_FONTNAMESIZE, FontName
  BEGIN
    LTEXT        "WHOIS server", 1, 1, 62, 185, 10, DT_VCENTER | NOT WS_GROUP
    ENTRYFIELD   "", ID_EFWHOIS, 1, 50, 185, 8,
                 NOT ES_AUTOSCROLL | ES_MARGIN | WS_GROUP
    AUTOCHECKBOX "Use WHOIS server", ID_CHKWHO, 1, 35, 90, 10
    AUTOCHECKBOX "Use DNS server", ID_CHKDNS, 95, 35, 90, 10
    LTEXT   "PING timeout (sec)", 4, 1, 20, 55, 10, DT_VCENTER | NOT WS_GROUP
    CONTROL "", ID_PINGTO, 60, 20, 25, 10, WC_SPINBUTTON,
            SPBS_MASTER | SPBS_JUSTCENTER | SPBS_READONLY | SPBS_NUMERICONLY |
            WS_TABSTOP | WS_VISIBLE
      CTLDATA 24, 0, 256, 0, 1, 0, MaxTO, 0, 0, 0, 0, 0
    LTEXT   "WHOIS timeout (sec)", 5, 95, 20, 65, 10, DT_VCENTER | NOT WS_GROUP
    CONTROL "", ID_WHOISTO, 165, 20, 25, 10, WC_SPINBUTTON,
            SPBS_MASTER | SPBS_JUSTCENTER | SPBS_READONLY | SPBS_NUMERICONLY |
            WS_TABSTOP | WS_VISIBLE
      CTLDATA 24, 0, 256, 0, 1, 0, MaxTO, 0, 0, 0, 0, 0
    PUSHBUTTON "~Ok", DID_OK, 42, 4, 32, 12, BS_DEFAULT
    PUSHBUTTON "~Cancel", DID_CANCEL, 116, 4, 32, 12
  END
END
